* {
  margin: 0;
  padding: 0;
}

body { 
  background: #fff;
  text-align: center; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
  color: #333;
}

pre {
  background-color: #ddd;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 12px;
  overflow: auto;
}

a:link, a:visited { color: #355; }
a:hover { color: #768; }

h1 {
  margin-bottom: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #888;
  color: #633;
}

h2, h3{
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 18px;
}

h2 {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 1.25em;
  color: #888;
}

h3 {
  padding-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #633;
}

strong { color: #633; }

#page {
  margin: 0 auto;
  width: 960px;
  background: #fff url(/images/column_divider.png) repeat-y;
  text-align: left;
}

#header { 
  height: 192px; 
  background: #636363 url(/images/header.png) no-repeat 50% 0;
}

#header p { 
  float: left;
  padding: 60px 24px 24px 24px;
  font-size: 1.75em;
  line-height: 1em;
  color: #fff;
}

#header ul {
  padding-top: 140px;
  padding-right: 12px;
  text-align: right;
  list-style: none;
}

#header li {
  display: inline;
  margin: 0 12px;
}

#header li a {
  font-size: 1.25em;
  line-height: 1em;
  text-decoration: none;
  color: #fff;
}

#header li a:hover { color: #ccc; }

#content {
  float: right;
  margin: 24px;
  width: 720px;
}

#content p { 
  padding-bottom: 12px; 
}

#post_info p { padding-top: 12px; }

.comment { 
  background: #ddd;
  padding: 10px;
}

.comment h3 { padding-bottom: 2px; }

.comment pre { margin-top: 12px; }

#sidebar {
  float: right;
  margin: 24px;
  width: 144px;
}

#sidebar p { padding-bottom: 18px; }

#sidebar h3 { padding-top: 18px; }

#footer { 
  clear: right; 
  margin-left: 216px;
  height: 84px;
  font-size: 10px;
  line-height: 1em;
  text-shadow: 1px 1px 1px #333;
  color: #fff;
}

#footer a:link, #footer a:visited { color: #c99; }

#footer p { padding: 24px; }

.clear { clear: both; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

