<h1>New crawler</h1>

<%= error_messages_for :crawler %>

<% form_for(@crawler) do |f| %>
  <p>
    <b>Search</b><br />
    <%= f.text_field :search %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', crawlers_path %>
